<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<script type="text/javascript">
var gh =	"<ion-view class=\"tinder-cards-view\">\n  " +
			"<ion-nav-buttons side=\"left\">\n    " +
			"<button menu-toggle=\"left\" class=\"button button-icon icon ion-navicon\"></button>\n " +
			" </ion-nav-buttons>\n " +
			"<ion-nav-title>\n    " +
			"<span>Applied Jobs ({{appcnt}})</span>\n  " +
			"</ion-nav-title>\n  " +
			"<ion-content scroll=\"true\"> <div ng-show=\"appcnt==0\" style=\"width:100%;text-align:center;position:relative;top:100px;\"> No Applied Jobs </div>  \n " +
			"<ion-refresher on-refresh=\"doRefresh()\" > \n  " +
			"</ion-refresher> \n " +
			" 	<div class=\"appliedjob_container row\" ng-repeat=\"jobs in appliedjobs track by $index\" ng-click=\"onHold($index,jobs)\"> \n " +
			"		<div class=\"appliedjob_briefcase\"><div><i class=\"ion-briefcase\"></i></div></div> \n " +
			"		<div class=\"appliedjob_jobtitle\">{{jobs.jobTitle}}<br>Applied on : {{jobs.appliedjob}}</div> \n " +
			"	</div> \n " +
			"	<br style=\"clear:both\" /> \n " +
			" </ion-content> \n " +
			"<ion-footer-bar><div class=\"tabs tabs-icon-top\"><a class=\"tab-item\" href=\"#/app/layouts/tinder-cards/\"><i class=\"icon ion-clipboard\"></i>Suggested Jobs</a><a class=\"tab-item\"  href=\"#/app/layouts/search\"><i class=\"icon ion-ios-search-strong\"></i>Job Finder</a><a class=\"tab-item\"  ui-sref=\"app.saveforlater\"><i class=\"icon ion-heart\"></i>Shortlist</a><a class=\"tab-item\" href=\"#/app/profile\"><i class=\"icon ion-person\"></i>My Profile</a></div></ion-footer-bar> \n " +"</ion-view> \n ";

console.log(gh);
</script>