<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      </ion-nav-bar>
    	<ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
    	  <ion-list>
      		 	  <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile">
    		      <img ng-src="{{userdet.image}}">
    		      <h2 class="greeting">{{userdet.name}}</h2>
       			  <p class="message"></p>
        		  </ion-item>
        		  <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.profile">
 					 <i class="icon ion-person"></i>
          			 <h2 class="menu-text">My Profile</h2>
        		  </ion-item>
       			  <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.tinder-cards">
					<i class="icon ion-clipboard "></i>
					<h2 class="menu-text">Suggested Jobs</h2>
        		  </ion-item>
        		  <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.search">
    	     	<i class="icon ion-ios-search-strong"></i>
      	      	<h2 class="menu-text">Job Finder</h2>
        		  </ion-item>
        		  <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.saveforlater">
    	     	<i class="icon ion-heart"></i>
      	      	<h2 class="menu-text">Shortlist</h2>
        		  </ion-item>
        		  <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.appliedjobs">
    	     	<i class="icon ion-checkmark-round "></i>
      	      	<h2 class="menu-text">Applied Jobs</h2>
        		  </ion-item>
        		  <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.wordpress">
    	     	<i class="icon ion-social-wordpress-outline "></i>
      	      	<h2 class="menu-text">Knowledge center</h2>
        		  </ion-item>
        		  <ion-item class="item-icon-left" nav-clear menu-close ui-sref="">
    			<div ng-click="logout()"> 
 	         <i class="icon ion-log-out"></i>
          			 <h2 class="menu-text">Logout</h2>
  </div>   	     </ion-item>

    		</ion-list>
    	</ion-content>
  	</ion-side-menu>
	<ion-side-menu side="right" class="" expose-aside-when="large" style="background-color:#fff;">
    <ion-content style="background-color:#fff;">
    		<div style="width:90%; float:right;">
			<div style="display:inline-block; width:99%;padding-top:10px;background-color:">
				
						<div style="float:left;width:10%;"><i class="ion-android-clipboard" style="font-size:20px;line-height:30px;"></i></div>
						<div style="float:left;width:70%;text-align:left;">
							<form ng-submit="skillssubmit()" style="display:inline-block;">
							  <input id="entry1" ng-keyup="checkval($event)" ng-model="id_entry" placeholder=" Skills - software developer, banking manager"  type="text" style="border:1px solid #efefef;">
							  	{{fgid_entry}}
							</form>

							<div style="background:#fffe97;padding:10px;" ng-show="Myskills.length<1"> 
								<div><b>Informaion tags</b></div>
								<div>ie Add your skills </div>
							</div>
						</div>
						<div style="float:left;width:10%;" ng-click="skillssubmit()"><i class="ion-android-add-circle" style="font-size:20px;line-height:30px;"></i></div>
				
			</div>
			<script id="Location.html" type="text/ng-template">
	    <div class="modal" style="top:0;left:0; height:100%;"> 
     <ion-header-bar class="bar-secondary app-top-bar"> 
     <i class="ion-ios-arrow-back"  ng-click="closelocmodel()"  style="font-size:30px;height:30px;color:#fff;padding-left:10px;padding-top:5px;cursor:pointer;" />  
  <h1 class="title" style="float:left;">Preferred Location</h1> 
     </ion-header-bar> 
     <ion-content class="has-footer"> 
              <ion-list>  
            <div class="clearfix"></div> 
           <input type="text" ng-model="searchlocation" placeholder="Type here to search" style="padding:6px;margin-left:10px;"></input> 
          <ion-item ng-repeat="loc in Location | filter : searchlocation" >  
          <div style="float:left;"  ng-click="addlocation(loc,$index)">  
 		  {{loc.location}} 
  </div> 
  <div style="float:right;">  
     <input name="{{loc.id}}" type="checkbox" ng-checked="loc.checked" ng-click="addlocation(loc,$index)"/> </div> 
           </ion-item> 
          </ion-list> 
         <div class="clearfix"></div> 
      </ion-content> 
 <ion-footer-bar class="bar-stable"> 
  <button class="button  button-block button-positive" style="width:100%"  ng-click="savelocation()">Done</button> 
 </ion-footer-bar> 
    </div> 
 
	</script>
    	</ion-content>
  	</ion-side-menu>
</ion-side-menus>